body{
    margin : 0;
    padding: 0;
    background: #D4D4D4 ;
}
.fas , .far{
    margin-right:7px;
    font-size: 20px;
}
.menu_profil{
    margin :  0;
    padding: 0;
    margin-bottom:80px;
    background-color: #2F2928 ;
}
.menu_profil li{
    list-style: none;
    display: inline-block;
} 
.menu_profil li a {
    text-decoration: none;
    text-align: center;
    float: right;
    position: relative ; 
    color: #2F2928;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding:  10px 15px;
    background-color: #ffd32a;
}
.menu_profil li a:hover{
    color: #ffd32a;
    background-color:#2F2928 ;
}
.menu_option{
    margin :  0;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #2F2928
}
.menu_option li{
    list-style: none;
    display: inline-block;
} 
.menu_option li a {
    text-decoration: none;
    position: relative ; 
    color: #ffd32a;
    font-size: 20px;
    font-weight: 100;
    font-family: sans-serif;
    display: block;
    overflow: hidden;
    transition: 0.7s all;
    padding:  10px 15px;
}
.menu_option li a:before {
    content: '';
    width: 40px;
    position: absolute;
    border-bottom: 8px solid #ffa801;
    bottom: 0;
    right: 300px;
    transition : 0.7s all;
}
.menu_option li a:hover:before {
    right: 0;
    
}
.menu_option li a:hover {
    color:  #ffa801;    }

.option_list{
    margin-left: 15%;
    margin-left: 15%
}
.Title p{
    font-family: Impact, Charcoal, sans-serif;
    font-size: 50px;
    color :#2F2928 ;
    margin-left: 15%;    
}
.slide p{
    background-color: #ddaf00;
    font-size: 50px;
    text-align: left;
    color: black;
    font-family: lato;
    opacity: 0.8;
    
}
a{
    text-decoration: none;
}
.slide{
    z-index: 500;
    height: 700px;
    max-height: 700px;
    margin: 2% 15% 5% 15%;
}
.news{
    margin: 0 15% 0% 15%;    
}
.news_section h1{
    text-align: center;
    color: #f1f1f1
}
.news_section{
    background-color: #2F2928
}
.news_section p{
    color: #b9bc2e;
    padding: 0px 10px 2px 10px;
    font-size: 20px;
}
.news_section h3{
    color: #b9bc2e;
    font-size: 20px;
    font-style: ;
    padding: 10px 10px 0px 10px;  
}
.news_section a{
    text-decoration: none;
}
.news_section p:hover {
    color: #E3D51C;
}
.news_section h3:hover{
    text-decoration: underline;
    color: #E3D51C;   
}
#First_page ,#Last_page{
    background-color :#2F2928 ;
    text-decoration: none;
    padding : 10px 10px 10px 10px;
    color: #f1f1f1;
    font-size: 13px;
    font-family: Arial Black;
    border: 1px solid #2F2928;
    border-radius: 5px
}
#Next, #Previous{
    text-align: center;
    padding-left: 4px
}
.fa-chevron-circle-right ,.fa-chevron-circle-left{
    color: #2F2928; 
    font-size: 50px;
}
.fa-play-circle {
    font-size: 50px;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    margin: 70px 0px 0px 100px;
    transition: .5s ease;
}
.slide_video:hover .fa-play-circle{
    opacity: 1
}
.slide_video p{
    opacity: 0.2;
    z-index: 10000;
    font-size: 20px;
    text-align: center;
    position: absolute;
    width: 20%;
    padding-top: 20px;
    color: black;
    font-family: lato;
}
.slider_video{    
    overflow:  hidden;
    height: 180px;
    margin: 7% 15% 1% 15%;
}
.slider_video figure{
   
    overflow:  hidden;
    /* height: 200px; */
    margin: 7% 15% 7% 15%;
}
.slider_video figure div{    
    width: 5%;
    float: left;
    padding: 0px 5px 0px 5px;
}
.slider_video figure img{
    opacity: 1;
    width: 100%;
    float: left;
    padding: 0px 5px 0px 5px;
    transition: .5s ease; 
}
.miniature:hover {
    opacity: 0.2
}
.slide_video a{
    text-decoration: none;
    color: #2F2928;
}
.slider_video figure{
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slido infinite;
}
@keyframes slido{
    0%{left: 0%;}
    18%{left: 0%;}
    20%{left: -100%;}
    38%{left: -100%;}
    40%{left: -200%;}
    58%{left: -200%;}
    60%{left: -300%;}
    78%{left: -300%;}
    80%{left: -400%;}
    98%{left: -400%;}
    100%{left: -500%;}
    }
.more_vid{
    margin: 0px 15% 7% 15%;
}
.more_vid a{ 
    text-decoration: none;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 20px;
    color :#2F2928 ;
}  
.footer {
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #2F2928; 
}
.footer li {
    list-style : square ;
    left: 0px ;    
}
.footer ul {
    padding-left: 15px ;
    padding-bottom: 30px
}
.footer h3 {
    font-size: 17px;
    color:#f1f1f1;
}
.footer a {
    font-size: 17px;
    color:#f1f1f1;  
}
.FT{
    padding-left: 20px
}
#email{
    width: 80%;
    font-size: 20px;
    border: 2px solid #2F2928;
    border-radius: 6px;
}
#btn{
    padding: 5px 10px 5px 10px;
    font-size: 15px;
    border: 2px solid #2F2928;
    border-radius: 6px;
    cursor: pointer;
    background-color: #f1f1f1;
    transition-duration : 0.4s;
    margin-top: 10px;
}
#btn:hover{
     background-color: #ffa801;
     border-color: #ffa801;
 }


