.container {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "r a ad";
}
.return{
	grid-area: r;
}
.add-article{
	grid-area: ad;
	justify-self: end;
}
.article{
	grid-area: a;
}